BOT_TOKEN=8958536028:AAFaSrJroI8aWGbVeV2_ceRP48iAr9geK9M
SOLANA_RPC=https://api.mainnet-beta.solana.com
ADMIN_CHAT_IDS=7846051447
COMMISSION_WALLET=8Gbk6DG2uw7wh1Hm4reWJsyc83LJnVDRQGaG7QArUEmp
COMMISSION_PERCENTAGE=7%
JUPITER_API=https://lite-api.jup.ag/swap/v1
REDIS_URL=redis://default:yourpassword@your-redis-host:6379
